body {
  background: black;
  color: greenyellow;
}

header {
  width: 80%;
  text-align: center;
  margin: 10px auto;
  border: 2px solid greenyellow;
}
.page {
  height: 80vh;
  min-width: 300px;
  max-width: 1000px;
  margin: auto;
  border: 2px solid greenyellow;
}

h1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: underline;
}

ul {
  list-style: none;
  text-transform: none;
}

li {
  position: absolute;
  bottom: 10px;
  right: 10px;
  cursor: pointer;
}

a {
  color: greenyellow;
  text-decoration: none;
  transition: 0.5s ease-in-out;
}

a:hover {
  font-size: 1.2rem;
}

a:visited {
  color: greenyellow;
  text-decoration: none;
  transition: 0.5s ease-in-out;
}

.titre {
  margin: 10px;
  text-align: center;
}

p {
  margin: 10px;
  text-align: center;
}

.mySpan {
  display: block;
  text-align: center;
  margin: 20px;
  text-transform: uppercase;
  animation: spanAnim 0.9s infinite ease-in-out;
  transform: scale(0);
  transform-origin: center;
}

@keyframes spanAnim {
  100% {
    transform: scale(1);
  }
}

.mySpan2 {
  display: block;
  text-align: center;
  margin: 20px;
  text-transform: uppercase;
}

.addSpan {
  display: block;
  text-align: center;
  text-transform: uppercase;
  color: blue;
  transition: 0.5s ease-in-out;
}
